*{
    font-family: 'Satoshi', sans-serif;
}

body{
    background-color: black;
}

.main{
    background-color: var(--color-page-bg);
    transition: all 0.3s ease;
    min-height: 100vh;
}

.container{
    padding: 0 84px;
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fafafa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    /* border-bottom: 0.5px solid var(--color-divider); */
}

.filter-row{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.filter{
    background-color: var(--color-surface);
    border-radius: 0.4rem;
    font-size: 1rem;
    padding: 0.25rem;
    width: 180px;
    height: 40px;
    outline: none;
    border: 0.5px solid var(--color-card-border);
}

option{
    font-size: 1rem;
    color: var(--color-text-body);
}

.filter-row h3{
    font-size: 14px;
    text-wrap: nowrap;
    font-weight: 400;
    color: var(--color-link);
    text-decoration: underline;
    cursor: pointer;
    display: none;
}

.add-expense{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    width: 150px;
    height: 40px;
    background-color: var(--color-primary);
    border-radius: 6px;
    color: #fafafa;
    font-size: 1rem;
}

.add-expense i{
    font-size: 1.25rem;
    color: #fafafa;
}

.cards{
    margin-top: 2rem;
    width: 100%;
    height: 200px;
}

.cards .container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    gap: 1rem;
}

.card{
    background-color: var(--color-surface);
    border: 0.5px solid var(--color-card-border);
    border-radius: 0.5rem;
    height: 100%;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .label{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.card .label h5, i{
    font-size: 1rem;
    color: var(--color-text-body);
    font-size: 1rem;
    font-weight: 500;
}

.card .value h2{
    font-size: 2.5rem;
    color: var(--color-text-heading);
    margin: 0;
    font-weight: 700;
    letter-spacing: -1.5px;
}

.card .value p{
    font-size: 0.875rem;
    color: var(--color-text-body);
    margin: 0;
    font-weight: 400;
}

.table{
    width: 100%;
    min-height: 80vh;
}

.table .container{
    padding: 0;
    width: 100%;
}

table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 2rem;
    /* border-radius: 8px; */
    margin-bottom: 1rem;
}

thead{
    background-color: var(--color-primary);
    border-radius: 8px;
}

th:nth-last-child(1){
    border-top-right-radius: 8px;
    border: 0;
}

th:nth-child(1){
    border-top-left-radius: 8px;
}

th{
    text-align: center;
    padding: 1rem;
    border-right: 0.25px solid var(--color-table-border);
    color: #fafafa;
    font-weight: 400;
}

tbody tr:nth-child(odd){
    background-color: var(--color-row-bg-1);
}

tbody tr:nth-child(even){
    background-color: var(--color-row-bg-2);
}

tbody tr td:nth-child(4){
    text-align: right;
    padding-right: 1rem;
}

tbody tr{
    border-bottom: 0.25px solid var(--color-table-border);
    height: 40px;
}

tbody tr td{
    border: 0.25px solid var(--color-table-border);
    text-align: center;
    color: var(--color-text-table);
}

table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagination h5{
    font-size: 0.875rem;
    color: var(--color-text-body);
    font-weight: 300;
}

.page-buttons{
    display: flex;
    align-items: center;
    /* gap: 0.5rem; */
}

.page-buttons button{
    width: 32px;
    height: 32px;
    background-color: var(--color-surface);
    border: 0.2px solid var(--color-card-border);
    /* border-radius: 4px; */
    color: var(--color-text-body);
    font-size: 1rem;
    cursor: pointer;
}

.page-numbers{
    display: flex;
    align-items: center;
}

.prev-page{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: var(--color-primary) !important;
}

.prev-page i{
    color: #fafafa;
}

.next-page{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: var(--color-primary) !important;
}

.next-page i{
    color: #fafafa;
}

.page-numbers .page-number:hover{
    background-color: var(--color-primary);
    color: #fafafa;
    transition: all 0.5s ease;
}

.page-numbers .active{
    background-color: var(--color-primary);
    color: #fafafa;
}

.footer{
    width: 100%;
    background-color: var(--color-surface);
    border-top: 0.5px solid var(--color-divider);
    margin-top: 2rem;
    padding: 1rem 0;
    position: fixed;
    left: 0;
    bottom: 0;
}

.footer .container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .container p{
    font-size: 0.875rem;
    color: var(--color-text-body);
    margin: 0;
}

.main{
    position: relative;
}

.expense-container{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.582);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2001;
}

.add-expense-form{
    width: 100%;
    position: relative;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.621);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2001;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
}

.add-expense-form .container{
    background-color: #f8f8f8;
    z-index: 10000;
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -300px;
    padding: 1.5rem;
    transition: all ease 0.5s;
}

.add-expense-form .container h2{
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--color-text-heading);
    padding-bottom: 0.5rem;
    border-bottom: 0.5px solid var(--color-divider);
    text-align: center;
    margin-bottom: 2.5rem;
}

.form-sections{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    gap: 0.5rem;
}

.form-sections input, select{
    height: 40px;
    border-radius: 6px;
    padding: 0.25rem 1rem;
    outline: none;
    border: 1px solid var(--color-card-border);
    color: #333;
}

.form-sections label{
    font-size: 1rem;
    color: var(--color-text-body);
}

.submit-expense{
    height: 40px;
    background-color: var(--color-primary);
    color: #fafafa;
    border-radius: 6px;
    font-weight: 500;
    margin-bottom: .5rem;
    transition: all ease 0.25s;
}

.submit-expense:hover{
    background-color: #14a89c;
}

.cancel-expense{
    height: 40px;
    border-radius: 6px;
    border: 0.5px solid var(--color-card-border);
    background-color: #dcdcdc;
    color: #333;
    transition: all ease 0.5s;
}

.cancel-expense:hover{
    background-color: #bcbcbc;
}