*{
    font-family: 'Satoshi', sans-serif;
}

body{
    background-color: var(--color-page-bg);
}

.container{
    padding: 0 84px;
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    width: 100%;
    height: 100%;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 0.5px solid var(--color-divider);
}

.filter-row{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.filter{
    background-color: var(--color-surface);
    border-radius: 0.4rem;
    font-size: 1rem;
    padding: 0.25rem;
    width: 180px;
    height: 40px;
    outline: none;
    border: 0.5px solid var(--color-card-border);
}

option{
    font-size: 1rem;
    color: var(--color-text-body);
}

.filter-row h3{
    font-size: 14px;
    text-wrap: nowrap;
    font-weight: 400;
    color: var(--color-link);
    text-decoration: underline;
    cursor: pointer;
    display: none;
}

.add-expense{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    width: 150px;
    height: 40px;
    background-color: var(--color-primary);
    border-radius: 6px;
    color: #fafafa;
    font-size: 1rem;
}

.cards{
    margin-top: 2rem;
    width: 100%;
    height: 200px;
}

.cards .container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    gap: 1rem;
}

.card{
    background-color: var(--color-surface);
    border: 0.5px solid var(--color-card-border);
    border-radius: 0.5rem;
    height: 100%;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .label{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.card .label h5, i{
    font-size: 1rem;
    color: var(--color-text-body);
    font-size: 1rem;
    font-weight: 500;
}

.card .value h2{
    font-size: 2rem;
    color: var(--color-text-heading);
    margin: 0;
    font-weight: 700;
    letter-spacing: -1.5px;
}

.card .value p{
    font-size: 0.875rem;
    color: var(--color-text-body);
    margin: 0;
    font-weight: 400;
}