/* 1. Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* 4. Media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 5. Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* 6. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 7. Remove list styles */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* 8. Reset links */
a {
  text-decoration: none;
  color: inherit;
}

/* 9. Buttons reset */
button {
  background: none;
  border: none;
  cursor: pointer;
}

/* 10. Table reset */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
